.page__container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      // overflow-x: hidden;
      justify-content: space-between;
}
.page__wrapper {
      height: 100%;
      position: relative;
}

a {
      &:hover {
            text-decoration: none;
      }
}

.fs-11 {
      font-size: 1.1rem;
} 
.fs-12 {
      font-size: 1.2rem;
} 
.fs-13 {
      font-size: 1.3rem;
} 
.fs-14 {
      font-size: 1.4rem;
} 
.fs-15 {
      font-size: 1.5rem;
} 

.wrapper {
      min-height: 80vh;
}

.page-title {
      margin: 0;
      padding: 0;
      padding-bottom: .1rem;
}

.map__frame iframe {
      max-height: 50vh;
}
.map__location-text {
      margin: 1rem;
      border-radius: 5px;
      @media(min-width: 768px) {
            border-radius: 0px;
            margin: 0;
      }
}