.text-white {
      color: $text-white;
}
.text-gray {
      color: $text-gray;
}
.text-blue {
      color: $text-blue;
}

.bg-purple {
      background-color: $bg-purple;
}
.bg-blue {
      background-color: $bg-blue;
}
.bg-red {
      background-color: $bg-red;
}
.bg-black {
      background-color: $bg-black;
}

