.text-white {
      color: $text-white;
}
.text-gray {
      color: $text-gray;
}
.text-blue {
      color: $text-blue;
}
.text-purple {
      color: $text-blue;
}

.text-size-small {
      font-size: 14px;
}
.text-size-medium {
      font-size: 20px;
}
.text-size-large {
      font-size: 30px;
}

.text-center {
      text-align: center;
}

.bg-purple {
      background-color: $bg-purple;
}
.bg-blue {
      background-color: $bg-blue;
}
.bg-red {
      background-color: $bg-red;
}
.bg-black {
      background-color: $bg-black;
}

.mw-hd {
      max-width: 1340px;
}

.section-title {
      padding: 1.5rem;
      text-align: center;
}