.gallery { 
    margin: 0 auto; 
    width: 1000px;
}
.picture { 
    display: inline-block; 
}
.picture img { 
    width: 286px; 
}


.card1 {
    width: 240px;
    height: 300px;
    border-radius: 10px;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgb(185, 185, 185);
    position: relative;
    overflow: hidden;
}

.card1-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .75s;
}
.card1:hover .card1-image {
    transform: scale(1.15);
}

.card1-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 15px;
    color: azure;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}