.cover {
    width: 100%;
}

.buttons {
    height: 40px;
    width: 100%;
    text-align: center;
}
.left {
    float:left;
    text-align: center;
    width: 400px;
    padding-top: 50px;
}
.left560 {
    float:left;
    text-align: center;
    width: 560px;
    height: 450px;
}
.wrapper400 {
    margin-left: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrapper600 {
    margin-left: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 450px;
}
.padding30 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.padding50 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.table-center {
    margin-left: auto;
    margin-right: auto;
}
.video {
    display: inline-block;
    margin-top: 5px;
}

// Hero section
.hero__container {
    max-height: 700px;
    overflow: hidden;
}

// Help section
.help__list-group li div:nth-child(1) {
    font-size: 1.3rem;
    color: $text-blue;
}
.help__icon {
    font-size: 2rem;
    .help__icon-wrapper {
        border: 2px solid $text-purple;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i.bi {
        color: $text-purple;
    }
}

// Events section
.events__image-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    a:hover {
        text-decoration: underline !important;
    }
    .events__event-list {
    }
}