.cover {
    width: 100%;
}

.buttons {
    height: 40px;
    width: 100%;
    text-align: center;
}
.left {
    float:left;
    text-align: center;
    width: 400px;
    padding-top: 50px;
}
.left560 {
    float:left;
    text-align: center;
    width: 560px;
    height: 450px;
}
.wrapper400 {
    margin-left: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrapper600 {
    margin-left: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 450px;
}
.padding30 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.padding50 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.table-center {
    margin-left: auto;
    margin-right: auto;
}