.nav-item {
    padding: .2rem 0.5rem;
    border-radius: 5px;
    white-space: nowrap;
    &.active {
        position: relative;
        font-weight: bold;
        background-color: $bg-purple;
        a {
            color: $text-white !important;
        }
        // &::after {
        //     content: '';
        //     width: 100%;
        //     height: 2px;
        //     position: absolute;
        //     bottom: 0; 
        //     left: 0;
        //     background-color: $bg-purple;
        //     // opacity: .5;
        // }
    }
} 
.navbar-collapse {
    padding-top: 2rem;
}
.navbar-nav {
    justify-content: space-between;
    width: 100%;
}
.navbar {
    .container {
        width: 100% !important;
    }
}
.navbar-brand {
    img {
        width: 200px;
    }
    @media(min-width:768px) {
        width: 250px;
    }
}