
$text-white: #fff;
$text-gray: #ccc;
$text-blue: #2d2e82;
$text-purple: #675fad;

$bg-purple: #675fad;
$bg-blue: #2d2e82;
$bg-red: #ae213d;
$bg-black: #292b33; 

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;